body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #003152, #640043);
    color: #000000;
    margin: 0;
    padding: 0;
  }

  /* Menú flotante */
#menu-flotante {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ffffff52;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.432);
    padding: 10px;
    z-index: 100;
    transition: all 0.3s ease;
    cursor: move; 
    max-width: 200px;
  }
  
  #menu-flotante h2 {
    font-size: 15px;
    margin: 0;
    cursor: pointer;
    padding: 5px;
    background: linear-gradient(to right, #003152, #640043);
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  #menu-flotante h2:hover {
    transform: scale(1);
    background: linear-gradient(to right, #640043, #003152);
    box-shadow: 0 0 5px 2px #003152, 0 0 5px 2px #640043;
  }
  
  #menu-flotante ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: none;
  }
  
  #menu-flotante li {
    padding: 8px;
    transition: background-color 0.3s;
  }
  
  #menu-flotante li a {
    text-decoration: none;
    color: #000000;
    display: block;
  }
  
  #menu-flotante li:hover {
    background-color: #ddddddad;
  }
  
  #menu-flotante li a:hover {
    color: #280668;
  }
  
  /* Menú flotante para navegación */
  #menu-navegacion {
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: #ffffff52;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.432);
    padding: 10px;
    z-index: 200;
    transition: all 0.3s ease;
    cursor: move; 
    max-width: 200px;
  }
  
  #menu-navegacion h2 {
    font-size: 15px;
    margin: 0;
    cursor: pointer;
    padding: 5px;
    background: linear-gradient(to right, #002966, #800080);
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  #menu-navegacion h2:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #800080, #002966);
    box-shadow: 0 0 5px 2px #002966, 0 0 5px 2px #800080;
  }
  
  #menu-navegacion ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: none; 
  }
  
  #menu-navegacion li {
    padding: 8px;
    transition: background-color 0.3s;
  }
  
  #menu-navegacion li a {
    text-decoration: none;
    color: #000000;
    display: block;
  }
  
  #menu-navegacion li:hover {
    background-color: #ddd6fc;
  }
  
  #menu-navegacion li a:hover {
    color: #38056b;
  }
  
  header {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5em;
    color: #ffffff;
    opacity: 0; 
    transform: translateY(20px); 
    animation: animacionHeader 2s ease-out forwards; 
  }

@keyframes animacionHeader {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
  
  section {
    margin: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    color: #000000;
  }

/* Sección "¿Qué es implementar software?" */
#que-es {
    padding: 40px;
    background-color: #ffffff7e; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    text-align: center;
}

#que-es h2 {
    font-size: 3em;
    color: #000000;
    margin-bottom: 20px;
    animation: colorShift 3s infinite; 
}

@keyframes colorShift {
    0% {
        color: #003152; 
    }
    50% {
        color: #640043; 
    }
    100% {
        color: #000;
    }
}

#que-es p {
    font-size: 1.5em;
    color: #000000;
    line-height: 1.6;
    margin: 10px 0;
}

/* Sección de Objetivos */
.objectives {
    padding: 40px;
    background-color: #ffffff7e; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    text-align: center;
}

.objectives h2 {
    font-size: 3em;
    color: #000000;
    margin-bottom: 20px;
    animation: colorShift 3s infinite; 
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.card {
    background-color: #ffffff9c;
    width: 250px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    font-size: 1.4em;
    color: #4e0034;
    margin-bottom: 15px;
}

.card p {
    font-size: 1.1em;
    color: #000000;
    line-height: 1.5;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 15px rgba(29, 0, 66, 0.644); 
    background-color: rgba(255, 245, 255, 0.788); 
}

/* Sección Pasos del Proceso */
.steps {
    padding: 40px;
    background-color: #ffffff7e; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    text-align: center;
}

.steps h2 {
    font-size: 3em;
    color: #000000;
    margin-bottom: 20px;
    animation: colorShift 3s infinite; 
}

.step-list {
    list-style: none; 
    counter-reset: step-counter; 
    padding: 0;
}

.step-list li {
    position: relative;
    padding: 20px 20px 20px 50px;
    margin: 10px 0;
    background-color: #ffffff9f;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(35, 0, 75, 0.37);
    font-size: 1.5em;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step-list li:before {
    counter-increment: step-counter;
    content: counter(step-counter);
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #640043;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.step-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(17, 0, 63, 0.521);
    background-color: rgba(255, 245, 255, 0.808);
}

/* Sección de importancia */
.importance {
    padding: 40px;
    background-color: #ffffff7e; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    text-align: center;
}

.importance h2 {
    font-size: 3em;
    color: #000000;
    margin-bottom: 20px;
    animation: colorShift 3s infinite; 
}

.importance-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px; 
    flex-wrap: wrap; 
}

.importance-content p {
    font-size: 2em;
    color: #000000;
    line-height: 1.6;
    margin: 10px 0;
    max-width: 500px;
    text-align: justify;
}

.importance-content img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.importance-content img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(29, 0, 82, 0.575);
}

/* Estilo para la sección de herramientas */
.tools {
    padding: 40px;
    background-color: #ffffff7e; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    text-align: center;
}

.tools h2 {
    font-size: 3em;
    color: #000000;
    margin-bottom: 20px;
    animation: colorShift 3s infinite; 
}

.tool-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tool-card {
    background-color: #ffffffbb;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px #003152, 0 0 5px 3px #640043; 
    text-align: center;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tool-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.tool-card h3 {
    font-size: 1.5em;
    color: #003152;
    margin-bottom: 10px;
}

.tool-card p {
    font-size: 1.2em;
    color: #000000;
    line-height: 1.6;
}

.tool-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px 3px #640043, 0 0 5px 3px #003152; 
}

  footer {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    text-align: center;
  }

  #jugar-sopa {
    padding: 40px;
    background-color: #ffffff7e; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    text-align: center;
}

  #jugar-sopa h2 {
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 20px;
    animation: colorShift 3s infinite; 
}

#jugar-sopa p{
    font-size: 2.2em;
    color: #000000;
    line-height: 1.6;
    margin: 10px 0;
}

.jugar-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(to right, #003152, #640043);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.jugar-btn:hover {
    transform: scale(1); 
    background: linear-gradient(to right, #640043, #003152);
    box-shadow: 0 0 5px 2px #003152, 0 0 5px 2px #640043; 
}

  /* Sección de Despedida */
#final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
    background-color: #ffffff7e; 
    box-shadow: 0 4px 6px rgb(0, 0, 0);
  }
  
  #final h2 {
    font-size: 4em; 
    color: #000000; 
    margin: 0;
    animation: shake 2s infinite; 
  }

@keyframes shake {
    0%, 100% {
        transform: translateY(0) scale(1);
    }
    25% {
        transform: translateY(-5px) scale(1.05);
    }
    50% {
        transform: translateY(5px) scale(0.95);
    }
    75% {
        transform: translateY(-3px) scale(1.02);
    }
}
  
  #final p {
    font-size: 2em; 
    color: #000000; 
    margin: 20px 0; 
  }
  
  #final .gif {
    width: 40%; 
    max-width: 300px; 
    margin-top: 20px;
  }

  @media screen and (max-width: 768px) {
    /* Menú flotante */
    #menu-flotante {
      top: 10px;
      left: 10px;
      max-width: 180px;
    }
    
    #menu-navegacion {
      top: 50px;
      right: 10px;
      max-width: 180px;
    }
  
    header h1 {
      font-size: 1.8em;
    }
  
    section {
      margin: 15px;
      padding: 15px;
    }
  
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90%;
      margin-bottom: 10px;
    }
  
    .steps .step-list li {
      font-size: 1.2em;
    }
  
    .importance-content {
      flex-direction: column;
      gap: 20px;
    }
  
    .importance-content p {
      font-size: 1.6em;
      max-width: 100%;
    }
  
    .tools .tool-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .tool-card {
      width: 90%;
      margin-bottom: 15px;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Menú flotante */
    #menu-flotante {
      top: 5px;
      left: 5px;
      max-width: 150px;
    }
  
    #menu-navegacion {
      top: 40px;
      right: 5px;
      max-width: 150px;
    }
  
    header h1 {
      font-size: 1.5em;
    }
  
    section {
      margin: 10px;
      padding: 10px;
    }
  
    .card {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .importance-content p {
      font-size: 1.4em;
      max-width: 100%;
    }
  
    .tool-card {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  